app/static/schemas/calories_on.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="queryresult">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="pod" maxOccurs="unbounded" minOccurs="2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="subpod" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="img">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:anyURI" name="src" use="optional"/>
                            <xs:attribute type="xs:string" name="alt" use="optional"/>
                            <xs:attribute type="xs:string" name="title" use="optional"/>
                            <xs:attribute type="xs:short" name="width" use="optional"/>
                            <xs:attribute type="xs:short" name="height" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="plaintext"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="title" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="states" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="state">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:string" name="input" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="count" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="title" use="optional"/>
            <xs:attribute type="xs:string" name="scanner" use="optional"/>
            <xs:attribute type="xs:string" name="id" use="optional"/>
            <xs:attribute type="xs:short" name="position" use="optional"/>
            <xs:attribute type="xs:string" name="error" use="optional"/>
            <xs:attribute type="xs:byte" name="numsubpods" use="optional"/>
            <xs:attribute type="xs:string" name="primary" use="optional"/>
          </xs:complexType>
        </xs:element>

        <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>

      </xs:sequence>

      <xs:attribute type="xs:string" name="success" fixed="true"/>
      <xs:attribute type="xs:string" name="error"/>
      <xs:attribute type="xs:byte" name="numpods"/>
      <xs:attribute type="xs:string" name="datatypes"/>
      <xs:attribute type="xs:string" name="timedout"/>
      <xs:attribute type="xs:string" name="timedoutpods"/>
      <xs:attribute type="xs:float" name="timing"/>
      <xs:attribute type="xs:float" name="parsetiming"/>
      <xs:attribute type="xs:string" name="parsetimedout"/>
      <xs:attribute type="xs:string" name="recalculate"/>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:anyURI" name="host"/>
      <xs:attribute type="xs:byte" name="server"/>
      <xs:attribute type="xs:anyURI" name="related"/>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>